.App {
  display: flex;
  align-items:start;

}

.App-head {
  display: flex;
  background-color: navy;
  color: white;
  justify-content: space-between;
}

.App-title {
  font-size: 30px;
  margin-left: 10px;
}

.App-user {
  font-size: 20px;
  margin-right: 10px;
}

.App-sidemenu {
  /* position:absolute; */
  width:20%;
  background-color: #eeeeee;
  margin: 5px;
  height: 500px;
  border-radius: 20px;
  text-align: center;
}

.App-content {
  width: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}