.navbar {
    display: inline-block;
    margin:auto;
    padding: 10px;
    color: whitesmoke;
  }

  .navbar p{
    padding: 10px;
    font-size: 20px;
  }

  .title {
    margin-left: 20px;
    font-size: 35px;
    color: whitesmoke;

  }
  
  .links {
    margin-right: 20px;
    align-items: center;
    color: whitesmoke;

  }
  
  .links a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
    color: whitesmoke;
  }

  .links a:hover{
    font-weight: bold;
  }

